.h-span{
    color: royalblue;
}
.header-main{
background-color: rgb(255, 204, 212);
margin: 0px;
padding: 50px;
display:flex;
align-items: center;
height: 800px;;
justify-content: initial;





}
.headar-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.here{
    color: brown;
}
.header-h2{
    color:black;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
}
.headar-p{
    color: rgb(38, 35, 35);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
button{
    padding: 12px 15px;
    color: rgb(243, 245, 249);
    background-color: rgb(9, 177, 244);
    

    border: 0px;
}
button:hover{
    letter-spacing: 1px;
}
.header-img{
   max-width: 300px;
   position: bottom left;
   max-width: 100%;
   object-fit: cover;
   display: initial;
   
   
   
   
   
}
.headar-text{
    padding-bottom: 150px;
}
/* /* main * */
.header-h3{
    color:black;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    
}
.main-p{
    color: rgb(38, 35, 35);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}
.img-s1{
    display: flex;
    padding: 50px;
    margin: 50px 100px 0px 120px;
    gap: 20px;
    
}
.img1{
    border-radius: 300px 300px 0px 0px;
    background-color: rgb(255, 232, 235);
    width: 250px;
    height: 328px; 

}
.img2{
   background-color:lightblue;
   border-radius: 300px 300px 0px 0px;
   width: 250px;
   height: 328px; 

}
.img3{
    border-radius: 300px 300px 0px 0px;
    background-color: lightyellow;
    width: 250px;
    height: 328px;
}
.Support-pic{
    display: flex;
    background-color: rgb(241, 252, 255);
    margin: 0px 125px 100px 130px ;
    border-radius: 8px;
}
.spt-t{
    text-align: center;
}
.spt{
    
    text-align: center;


}
.spt-img{
    padding-right: 100px ;
    padding-left: 100px;
    width: 40px;
    height: 40px;
}


/* end of main section 1 */
/* hot deal */
.hot{
    background-color: rgb(5, 93, 156);
    display: flex;
    flex-direction:row;
    justify-content: space-around
} 
.hot-items{
   
}
.hot-span{
    color: red;
}
.hot-span1{
    color: rgb(210, 210, 251);
}
.hot-p{
    color: rgb(241, 133, 0);
}
.hot-btn{
    padding: 14px 20px;
    margin-top: 5px;
    bottom: 5px;
    color: rgb(117, 4, 255);
    background-color:rgb(255, 195, 195);
    border-radius: 2px;
}
/* end hot deal */
/* main section 2 */
.Instagram-sec{
    display: flex;
    margin-left: 110px;
    padding-top: 20px;
    margin-bottom: 50px;
}
.Instagram-img{
    width: 200px;
    height: 242px;
    padding: 5px;
    gap: 5px;
}
.backgroun-img{
    background-image: url('Flower Asset/blue image.jpg');
    width: 740px;
    height: 340px;
    margin-left: 150px;
    margin-right: 15px;
    
}
.footer-h5{
    padding-top: 80px;
text-align: center;
margin-bottom: 5px;
font-size: 40px;
font-weight: 900;
}
.footer-p{
    text-align: center;
    margin-top: 0px;
    color: rgb(43, 38, 38);
    font-size: 18px;
}
.footer-btn{
    gap: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer-input-email{

    width: 300px;
    height: 36px;
    background:transparent;
    border: 1px solid blue;
    
}
.footer-input-btn{
    padding
    margin-top: 5px;-bottom: 5px;
    height: 38px;
    font-size: 20px;
    color: rgb(255, 4, 4);
    background: transparent ;
    background-color:transparent;
    border: 1px solid rgb(1, 4, 5);

}
.footer-input-btn:hover{
    letter-spacing: 3px;
    background:lightblue;
}

/* main section end */
.footer-l{
    background-color: black;
   
  height: 449px;
    color: aliceblue;
    text-align: center;
    
}
.footer-span{
    color: brown;
}
.footer-span2{
    color: blue;
}
.footer-span3{
    color:rgb(255, 255, 169)
}
    
