.h-span{
    color: royalblue;
}
.header-main{
background-color: rgb(255, 204, 212);
margin: 0px;
padding: 120px;
display: flex;



}
.header-h2{
    color:black;
    font-size: 80px;
    font-weight: 900;
}
.headar-p{
    color: rgb(38, 35, 35);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
button{
    padding: 12px 15px;
    color: pink;
    background-color: lightgoldenrodyellow;
}
.header-img{
   width: 400px;
   height: 500px;
   size-adjust: ;
   
   
}
/* /* main * */
.header-h3{
    color:black;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    
}
.main-p{
    color: rgb(38, 35, 35);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}
.img-s1{
    display: flex;
    padding: 50px;
    margin: 50px 100px 0px 120px;
    gap: 20px;
    
}
.img1{
    border-radius: 300px 300px 0px 0px;
    background-color: rgb(255, 232, 235);
    width: 250px;
    height: 328px; 

}
.img2{
   background-color:lightblue;
   border-radius: 300px 300px 0px 0px;
   width: 250px;
   height: 328px; 

}
.img3{
    border-radius: 300px 300px 0px 0px;
    background-color: lightyellow;
    width: 250px;
    height: 328px;
}
.Support-pic{
    display: flex;
    background-color: rgb(241, 252, 255);
    margin: 0px 125px 100px 130px ;
    border-radius: 8px;
}
.spt-t{
    text-align: center;
}
.spt{
    
    text-align: center;


}
.spt-img{
    padding-right: 100px ;
    padding-left: 100px;
    width: 40px;
    height: 40px;
}


/* end of main section 1 */
/* main section 2 */
.Instagram-sec{
    display: flex;
    margin-left: 110px;
    padding-top: 20px;
    margin-bottom: 50px;
}
.Instagram-img{
    width: 200px;
    height: 242px;
    padding: 5px;
    gap: 5px;
}


/* main section end */