.h-span{
    color: royalblue;
}
.header-main{
background-color: rgb(255, 204, 212);
margin: 0px;
padding: 0px;
display: flex;
width: 1900;
height: 900;

}
.header-h2{
    color:black;
    font-size: 80px;
    font-weight: 900;
}
.headar-p{
    color: rgb(38, 35, 35);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}
.header-img{
   width: 400px;
   height: 500px;
   size-adjust: ;
   
   
}